@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: none;
  text-decoration: none;
}

html {
  font-family: 'Lato', sans-serif;
}

/** Primevue Card style overrides **/
.p-card-body {
  padding: 8px 10px 6px 6px !important;
}

.p-card-title {
  font-size: 0rem !important;
  margin: 0 !important;
}
.p-card-content {
  padding: 0 !important;
}
